{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container ">

    {% if cliente %}
    <div class="row">
        <div class="col-sm">
        
        </div>
        <div class="col-sm">
            <div class="card card-body shadow mt-5 " style="color: #222;">
                
                <div class="text-center">
                    
                     {% for data in cliente %}
                        <h4 class="text-center">Olá {{ data.nome }}! </h4>
                        <p>Vamos simular um finacimento?</p>
                       
                        <a class="btn btn-sm btn-info text-center" href="{% url 'simularFinanciamento' data.id %}"> simular</a>
                    {% endfor   %}
                   
                
                </div>
                
            </div>
        </div>
        <div class="col-sm">
        
        </div>
    </div>
        

       
    {% else %}

    <div class="row">
        <div class="col-sm">
        
        </div>
        <div class="col-sm">
            <div class="card card-body shadow mt-5 " style="color: #222;">
                <h4>Identifique-se</h4>
                <div class="form-group">
                    <form  action="/" method="POST">
                        {% csrf_token %}
                        {{form | crispy}}
                        <button  value="cliente" class="btn btn-sm btn-info mt-3" type="submit">Enviar</button>
                    </form>
                
                </div>
                
            </div>
        </div>
        <div class="col-sm">
        
        </div>
    </div>
  

    {%endif%}
    
</div>
{% endblock content %}